/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #d9f2ff; /* Azul claro */
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 40px;
    max-width: 150px;
    object-fit: contain;
}

.usuario-icono {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.icono-volver {
    position: absolute;
    top: 110px;
    left: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .icono-volver:hover {
    transform: scale(1.1);
  }

/* Contenido principal */
main {
    margin-top: 50px;
}

h1 {
    color: #0D47A1; /* Azul oscuro */
    font-size: 28px;
    margin-bottom: 40px;
}

/* Botones */
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* Más espacio entre botones */
    margin-top: 50px; /* Más espacio debajo del título */
}

.boton {
    display: block;
    width: 270px; /* Botones más anchos */
    padding: 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #1565C0; /* Azul fuerte */
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0D47A1;
}
